[run]
relative_files = True

omit =
    src/collective/volto/formsupport/tests/*
    src/collective/volto/formsupport/upgrades.py

[report]
include =
    */src/collective/*
omit =
    */test*
    /home/*/.buildout/eggs/*
    /home/travis/buildout-cache/eggs/*
    /home/travis/virtualenv/*
    /usr/*
    bin/test
    eggs/*
    parts/*
    */lib/*
    *.txt
    *.rst
    */upgrades.py
